/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  box-sizing: border-box;

  &.model {
    overflow: hidden;
    z-index: 50;
  }
}

td {
  padding: 12px;
}

.h1 {
  font-size: 40px;

  @media screen and (min-width: 769px) and (max-width: 1440px) {
    font-size: calc(30px + (40 - 30) * (100vw - 768px) / (1440 - 768));
  }

  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

.h2 {
  font-size: 30px;

  @media screen and (min-width: 769px) and (max-width: 1440px) {
    font-size: calc(25px + (30 - 25) * (100vw - 768px) / (1440 - 768));
  }

  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}

.h3 {
  font-size: 25px;

  @media screen and (min-width: 769px) and (max-width: 1440px) {
    font-size: calc(25px + (25 - 20) * (100vw - 768px) / (1440 - 768));
  }

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.paragraph {
  font-size: 15px;

  @media screen and (min-width: 769px) and (max-width: 1440px) {
    font-size: calc(15px + (15 - 13) * (100vw - 768px) / (1440 - 768));
  }

  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.hide {
  display: none;
}

.homePage, .protectedPage {
  .modelWrapper {
    position: fixed;
    background-color: #8f8e8b;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);

    .modelContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 400px;
      height: 300px;
      margin: auto;
      background-color: #f4f4f4;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      position: relative;

      @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
        align-items: flex-start;
      }

      .signupForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 768px) {
          margin-top: 100px;
        }
  
        .close {
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }

        input {
          display: block;
          width: 200px;
          height: 30px;

          &.error {
            border: 1px solid red;
            color: red;
            background: pink
          }
        }

        input[type='submit'] {
          width: 200px;
          margin-top: 20px;
          background-color: #159f9e;
          color: #f4f4f4;
          cursor: pointer;
          border: none;
        }

        .headline {
          margin-bottom: 30px;
        }
      }
    }
  }

  .headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    background: #f4f4f4;
    margin: auto;

    > div {
      padding: 20px;
    }

    .title {
      color: #1c1c1c;
    }

    .signup {
      color: #159f9e;
      cursor: pointer;
    }
  }

  .heroWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: #1c1c1c;
    overflow: hidden;

    &:after {
      content: "";
      float: left;
      padding-bottom: 44.77612%;
      margin-right: -100%;

      @media screen and (max-width: 768px) {
        content: '';
        float: left;
        padding-bottom: 120%;
        margin-right: -100%;
      }
    }

    .heroContainer {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 40px;

      .heroContents {
        color: #f4f4f4;
        .headline {
          line-height: 50px;
        }

        .description {
          margin-top: 15px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .bannerWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 250px;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;

    .bannerContents {
      display: flex;
      flex-direction: column;
      align-items: center;

      .description {
        color: #8f8e8b;
        margin-top: 40px;
        max-width: 600px;
        text-align: center;
      }
    }
  }

  .sideBySideWrapper {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 0;
    }

    .sideBySideContainer {
      display: flex;
      flex-direction: row;
      width: 100%;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      &.reverse {
        @media screen and (max-width: 768px) {
          flex-direction: column-reverse;
        }
      }

      .leftSide {
        width: 50%;
        height: 50vw;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        @media screen and (max-width: 768px) {
          width: 100%;
          height: 100vw;
        }
      }

      .rightSide {
        width: 50%;
        height: 50vw;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 100vw;
        }
      }

      .text {
        @media screen and (max-width: 768px) {
          height: 50vw;
        }
      }

      .greyOut {
        width: 100%;
        height: 100%;
        background-color: #8f8e8b;
      }

      .textContents {
        width: 80%;

        .headline {
          margin-bottom: 20px;
        }
      }
    }
  }

  .footerWrapper {
    display: block;
    margin: 50px auto 0;
    width: 100%;
    max-width: 1440px;
    height: 350px;
    background-color: #e4e5e6;

    .footerContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .headline {
        margin-bottom: 30px;
      }
    }
  }

  .skinnyHeroWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: #1c1c1c;
    overflow: hidden;

    &:after {
      content: "";
      float: left;
      padding-bottom: 20.77612%;
      margin-right: -100%;
    }

    .skinnyHeroContainer {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      position: absolute;
      
      .headline {
        color: #f4f4f4;
      }
    }
  }

  .StoryComponentWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;

    .headline {
      margin-bottom: 20px;
    }

    .StoryComponentContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      
      @media screen and (max-width: 768px) {
        display: block;
      }

      .storyCardWrapper {
        border: 1px solid #8f8e8b;

        @media screen and (max-width: 768px) {
          border: none;
        }

        .storyCardContainer {
          width: 100%;
          overflow-wrap: break-word;
          flex-wrap: wrap;
          display: flex;
          flex-direction: column;
          max-width: 300px;

          @media screen and (max-width: 768px) {
            margin: auto;
            border: 1px solid black;
          }

          .greyout {
            width: 300px;
            height: 300px;
            background-color: #8f8e8b;
          }
          
          .headline {
            margin-left: 20px;
            margin-top: 20px;
          }

          .author {
            margin-left: 20px;
            margin-bottom: 20px;
          }
        }
      }

    }
  }
}

.readNowCta {
  cursor: pointer;
  span {
    color: #f4f4f4;
    border: 1px solid #159f9e;
    background-color: #159f9e;
    padding: 10px 20px;
  }
}
